<header>
    <div class="flex nav-bar">
        <a href="/" class="brand">
            <div class="brand-main">Agile</div>
            <div class="brand-sub">Event Management</div>
        </a>
        <div class="nav">
            <ul class = "flex">
                <li><a href="/"> Home</a></li>
                <li><a href="/about"> About</a></li>
                <li><a href="/events"> Events</a></li>
                <li><a href="/contact"> Contact</a></li>                
            </ul>
        </div>
    </div>
</header>