<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <!-- CSS -->
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  <%- include('header'); %>
  <main>
    <section class="hero-slider">
      <img src ="/images/trekking.jpg" class = "hero-image" alt="Trekking"> 
    </section>
    <section class="about container">
      <div class="flex">
        <article class="about-us flex-45">
          <h3>About Us</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam repudiandae vel quas, saepe neque non dolore consequuntur. Porro asperiores, laudantium aut odio reprehenderit dolorem ullam inventore beatae, dolorum numquam corporis.rem</p>
          <a href="#" class="button">Know More</a>
        </article>
        <div class="about-img flex-45">
          <img src="/images/about-us.jpg" class="about-img" alt="Group of people">
        </div>
      </div>
    </section>
  </main>
  <%- include('footer'); %>
  <!-- <script src = "/javascripts/hero-slider.js"></script> -->
</body>
</html>